{% extends 'admin/base_site.html'%}
{% block content %}
<h1>THỐNG KÊ THÔNG TIN CÁC KHOÁ HỌC</h1>
<h2>Số lượng khoá học: {{ course_count }}</h2>
<ul>
    {% for c in course_stats %}
    <li>
        <strong>{{ c.subject }}</strong> có {{ c.lesson_count }} bài học
    </li>
    {% endfor %}
</ul>
<div>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    let labels = []
    let values = []

    {% for c in course_stats %}
        values.push({{ c.lesson_count }});
        labels.push(`{{ c.subject }}`);
    {% endfor %}
    window.onload = () => {

        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
        type: "bar",
        data: {
            labels: labels,
            datasets: [
                {
                    label: "# So bai",
                    data: values,
                    borderWidth: 0.5,
                },
            ],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
        });
    }
</script>
{% endblock %}